DSN=postgresql://user:password@host:5432/db_name
PORT=8080
JWT_SECRET=dsaewqdsadaxzcseqewq
MAILJET_URL=https://api.mailjet.com/v3.1/send
MAILJET_BASIC_AUTH_USERNAME=API_key
MAILJET_BASIC_AUTH_PASSWORD=secret_key
MAILJET_SENDER=abcd@gmail.com